
nav {
    background: #74ab26 !important;
    color: white !important;
    padding: 15px 0;
}

nav a {
    color: white !important;
    padding: 4px 0;
    font-size: 18px;
}

nav .nav-item {
    margin: 0 5px;
}

nav .navbar-brand img {
    max-height: 35px;
}